<header id="store">
  <h1>Greengrocers</h1>
  <select (change)="sortItems()" [(ngModel)]="sortBy">
    <option value="none">None</option>
    <option value="name">Name</option>
    <option value="price">Price</option>
  </select>
  <app-list></app-list>
</header>
<main id="cart">
  <h2>Your Cart</h2>
  <div class="cart--item-list-container">
    <ul class="item-list cart--item-list">
      <app-cart *ngFor="let item of cart" [item]="item" (add)="increaseItem($event)" (remove)="decreaseItem($event)"/>
    </ul>
  </div>
  <h3>Total</h3>
  <div>
    <span class="total-number">{{cartTotal() | currency}}</span>
  </div>
</main>
